html,
body {
  background-color: #20232a;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.navbar-dark,
.navbar-brand {
  background-color: #20232a !important;
  color: aliceblue !important;
}

.alert-danger {
  background-color: #20232a !important;
  color: red !important;
  border-color: red !important;
}

.alert-success {
  background-color: #20232a !important;
  color: #00ff87 !important;
  border-color: #00ff87 !important;
}

button:hover {
  transform: scale(1.03);
}

.list-container {
  display: flex;
  border: aliceblue solid 1px;
  padding: 0;
  border-radius: 4px;
}
.text-list-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media (min-width: 992px) {
  .backlog-div {
    margin: 0 auto;
    max-width: 40vw;
  }
}
.backlog-div {
  margin: 0 auto;

  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list-container:hover {
  transform: scale(1.03);
}

.ghost-class {
  transform: scale(1.05);
}

.tareas-title {
  margin-right: 0.5em;
}

.btn-add:hover {
  background-color: #20232a;
  color: aliceblue;
}

.modal-content {
  background: #20232a;
  border-radius: 4px;
}

.btn-danger:hover,
.btn-close {
  background-color: #20232a;
  font-weight: 700;
  border-color: aliceblue;
}

.btn-danger,
.btn-close {
  background-color: aliceblue;
  font-weight: 700;
  color: #20232a;
  border-color: aliceblue;
}

.modal-header,
.modal-footer,
.modal-body {
  text-align: center;
  border: none;
}

.modal-content {
  border: 1px solid aliceblue;
}

.sortable-chosen {
  background-color: aliceblue;
  color: #20232a;
  border-color: #20232a;
}

.list-container {
  text-align: center;
}
